.account {
  width: 50%;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 600;
}

.account > span:last-child {
  cursor: pointer;
}

/* signup component */
.signup {
  height: 500px;
}
